.App h1 {
  font-family: 'Roboto', sans-serif;
  /* font-size: 4rem; */
  /* color: white; */
}



.color {
  color: '#F5A623'
}
p {
  font-family: 'Montserrat';
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .changeNav {
  border: 10px solid green;
} */
.colorpicker {
  color: #38468080;
  color: #ffffffa1;
  color: #ffffff81;
  box-shadow: 0 16px 10px -12px rgba(38, 148, 232, 0.056), 0 4px 25px 0px  rgba(38, 148, 232, 0.12), 0 8px 10px -5px  rgba(38, 148, 232, 0.2);

  box-shadow: 0 16px 10px -12px rgba(37, 232, 121, 0.056), 0 4px 25px 0px rgba(37, 232, 121, 0.12), 0 8px 10px -5px rgba(37, 232, 121, 0.2);

}

.svg {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash2 5s linear alternate forwards;
    display: block;
    margin: auto;

}

.facebook{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash2facebook 5s linear alternate forwards;

}

.grow {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: grow 5s linear forwards;
}

@keyframes dash2facebook {
  from {
    stroke-dashoffset: 1022;
    
  }
  to {
    stroke-dashoffset: 0;
    fill: #4267B2;
  }
}

.twitter{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash2twitter 5s linear alternate forwards;

}
@keyframes dash2twitter{
  from {
    stroke-dashoffset: 1022;
    
  }
  to {
    stroke-dashoffset: 0;
    fill: #1DA1F2;
  }
}

@keyframes dash2 {
  from {
    stroke-dashoffset: 1022;
    
  }
  to {
    stroke-dashoffset: 0;
    
  }
}

@keyframes grow {
  from {
   
    stroke-dashoffset: 1022;
  }
  to {
    
    fill: 'white';
    stroke-dashoffset: 0;
  }
}

@keyframes cloud {
  from {
    stroke-dashoffset: 2566;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fly{
  0% {
      bottom: -600px;   
    }
    100% {
      bottom: 100%;
    }
}

@-moz-keyframes  fly{
  0% {
      bottom: -600px;   
    }
    100% {
      bottom: 100%;
    }
}

@-o-keyframes  fly{
  0% {
      bottom: -600px;   
    }
    100% {
      bottom: 100%;
    }
}

@-webkit-keyframes fly {

      0% {
          bottom: -600px;   
        }
        100% {
          bottom: 100%;
        }
  
}

.svg {
  display: block;
  text-align: center;
  margin: 0;
  width: 90%;
}

@media only screen and (max-width: 1024px) {
  .svg {
  /* border: 1px solid green; */
    width: 60%;
    margin: 0;
  }
}

@media only screen and (max-width: 975px) {
  .svg {
   
   /* padding: 2rem; */
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .svg {
    width: 98%;
    margin: 0;
    /* border: 1px solid green; */
  }
}

@media only screen and (max-width: 414px) {
  .svg {
    width: 70%;
  }
}