.App h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  /* color: white; */
}

h4 {
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto';
}

p {
  font-family: 'Montserrat';
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.colorpicker {
  color: #38468080;
  color: #ffffffa1;
  color: #ffffff81;
}
